* {
  box-sizing: border-box;
}

body {
  background: #240a34;
}
.logo {
  margin: 30px 40px 50px 70px;
  margin-top: 2px;
  font-family: serif;
  font-size: 50px;
  color: white;
  letter-spacing: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  font-stretch: expanded;
  display: flex;
}
.logo:hover {
  color: rgb(133, 131, 131);
  transition: all 0.5s ease-in-out;
}
/* .background{
    /* height: 100vh;
  background: linear-gradient(
    to top,
    #240A34 0%,
    #240A34 50%,
    #430A5D 20%,
    #430A5D 50%
  );
  overflow: hidden;
  width: 100vw; */

nav {
  justify-content: center;
  display: flex !important;
  background-color: #492e87;
  color: white;
  border: 1px white;
}
nav ul li {
  padding: 20px;
  margin: 0px;
  display: inline-block;
  font-weight: bold;
  justify-content: center;
  border: solid 1px rgb(84, 84, 84);
  border-right: none;
 
}
nav a {
  justify-content: space-between;
  padding: 15px;
}
nav ul li a:hover {
  transition: all 0.2s ease-in-out;
  colo

  /* padding: 20px; */
}
